<!DOCTYPE html>
<html lang="fr" layout:decorate="~{layout}">

<head>
    <title layout:fragment="title">Index de la gestion des dépôts</title>
</head>

<body>
    <main layout:fragment="content">

        <div class="container">
            <div class="page-header">
                <h1 class="display-4">Questions</h1>
            </div>
            <table class="table table-primary table-striped table-bordered mx-auto" border=2>
                <tr>
                    <th>Question</th>
                    <th>Positives</th>
                    <th>Negatives</th>
                </tr>
                <tr th:each="question : ${questions}">
                    <td><a th:href="@{/questions/{id}(id=${question.text})}" th:text="${question.text}"></a></td>
                    <td th:text="${question.positives}"></td>
                    <td th:text="${question.negatives}"></td>
                </tr>
            </table>
        </div>
    </main>
</body>

</html>