<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>HELLO</h1>
    <div>Comment ça va ?</div><br><br>

    <p th:text="${#locale.language}"></p>
    <a th:href="@{/(lang=fr)}">Français</a>
    <a th:href="${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest().replaceQueryParam('lang', 'fr').toUriString()}">testFR</a>
    <a th:href="@{/(lang=en)}">English</a>

    <h1 th:text="#{greetings}"></h1>

</body>
</html>