<!DOCTYPE html>
<html lang="en" xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <main layout:fragment="content">
        <button><a href="/courses" th:text="#{goToCourse}"></a></button>
        <button><a href="/etudiants" th:text="#{goToEtudiants}"></a></button>
    </main>
</body>

</html>